<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Engineering </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p> I am currently working on my PhD project about hybrid RANS/LES methods.
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Aviation </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> My big passion is everything what has to do with airplanes. 
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
