<div class="user-details">
  <h1> What I do </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="cfd" src="{{ "/assets/img/research_image.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Research </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p class="text-justify"> I am a PhD student in Aerospace Engineering at the University of Manchester. In my research work on a Dual Grid Hybrid RANS/LES model, I am developing novel methods to simulate turbulent flows of fluids in a cost-effective way. For this project, I have been awarded a studentship, funded by the EPSRC and EDF Energy.
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="runway" src="{{ "/assets/img/A320_concept_2_crop.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Higher Education </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p class="text-justify"> I have earned my Master of Science (M.Sc.) degree in Aerospace Engineering at the Technical University of Munich (TUM). I have specialised in Aerodynamics and Aircraft Design, with an opportunity to write my Master's Thesis at <a href="https://www.bauhaus-luftfahrt.net/en/">Bauhaus Luftfahrt</a>, an independent aerospace technology think-tank in the aerospace.
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="runway" src="{{ "/assets/img/runway.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Aviation </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p class="text-justify"> My big passion is everything what has to do with airplanes. I am currently holding an EASA Private Pilot Licence PPL (A) for Single Engine Piston Airplanes with an Instrument Rating (IR), a FAA PPL(A) IR for Single and Multi Engine Piston, and a German Glider Pilot Licence, with around 350 hours of experience in total.
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="piano" src="{{ "/assets/img/IMG_0352.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Music </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p class="text-justify"> Playing a music instrument is one of my favourite things to do when I have some free time. I have been playing the piano for almost 20 years now. Since 2017, I have started taking weekly lessons for the trumpet. 
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
